# 1 Python Basics
By zyt 2022/8/27

## 1.1 Install

为了方便的管理包，我们使用anaconda

参考: https://zhuanlan.zhihu.com/p/358641541

1. 下载: https://mirrors.tuna.tsinghua.edu.cn/anaconda/archive/ 
2. 安装: 建议手动勾选 'Add anaconda to the system PATH environment variable'
3. 检查: 在命令行中输入 conda --version, 如果未显示，则需要手动添加环境变量
3. 换源: https://mirrors.tuna.tsinghua.edu.cn/help/anaconda/

## 1.2 VSCode / Pycharm
1. 如果你选择Pycharm, 只需要官网下载即可，学生可以通过发邮件免费申请专业版本
2. 如果你习惯VSCode
    1. 在extensions里搜索`Python`并安装
    2. 选择解释器：
        * Ctrl+Shift+P打开命令面板，输入`Python: Select Interprete`
        * 选择Python安装路径(在Anaconda的目录下)

    1. 在extensions里搜索`Python`并安装
    2. 选择解释器：
        * Ctrl+Shift+P打开命令面板，输入`Python: Select Interprete`
        * 选择Python安装路径(在Anaconda的目录下)

## 1.3 Hello World

在 conda prompt 里输入`jupyter notebook`

In [38]:
print('Hello World!')

Hello World!

## 1.4 Simple Math

In [39]:
135/2

67.5

In [40]:
2**3

8

In [41]:
9%4

1

## 1.5 If Else

In [45]:
# 注意python是按缩进对齐
# 缩进的过程中 空格和tab不可以混用
num = 3
if num == 3: 
    print(num)

num = 2
if num == 3:
    print(num)
else:
    print(num**3)

3
8

In [46]:
num = 3
if num > 10:
    print(num)
else:
    print(num + 10)

13

In [47]:
num = 4
num > 0 and num  < 15

True

In [1]:
num = 1
if num > 3 :
    print("Hi")
else: 
    print("number is not greater than 3")

number is not greater than 3

In [ ]:
num = 21
if num > 50:
    print('num is larger than 50')
elif num == 21:
    print('num = 21')
else:
    print('Catchall condition')

## 1.6 List, Tuple

In [5]:
# Defining a list
z = [3, 7, 4, 2]

# The first element of a list is at index 0
z[0]

# Access Last Element of List 
z[-2]

# first index is inclusive (before the :) and last (after the :) is not. 
# not including index 2
z[0:2]

[3, 7]

In [2]:
# Access Last Element of List 
z[-2]

NameError: name 'z' is not defined

In [6]:
# first index is inclusive (before the :) and last (after the :) is not. 
# not including index 2
z[0:2]

[3, 7]

In [7]:
# everything up to index 3
z[:3]

[3, 7, 4]

In [8]:
# index 1 to end of list
z[1:]

[7, 4, 2]

In [9]:
# Minimum, Maximum, Length, and Sum of a list
print(min(z), max(z), len(z), sum(z))

2 7 4 16

In [ ]:
#Count Number of Times Value is in List
random_list = [4, 1, 5, 4, 10, 4]
random_list.count(4)

In [ ]:
# Return First Index of Value
random_list.index(4)

In [ ]:
# you can specify where you start your search
random_list.index(4, 3)

### 1.6.1 排序

In [ ]:
x = [3, 7, 2, 11, 8, 10, 4]
y = ['Steve', 'Rachel', 'Michael', 'Adam', 'Monica', 'Jessica', 'Lester']

In [ ]:
# Sorting and Altering original list
# low to high
x.sort()
print(x)

In [ ]:
# Sorting and Altering original list
# high to low
x.sort(reverse = True)
print(x)

In [ ]:
# Sorting and Altering original list
# Z-A
y.sort(reverse = True)
print(y)

### 1.6.2 插入

In [ ]:
x

In [ ]:
x.append(3)
print(x)

In [ ]:
x.insert(4, [4, 5])

In [ ]:
x

### 1.6.3 删除

In [ ]:
x.remove(10)
print(x)

In [ ]:
# Remove Item at the Index you Provide
x.pop(3)

In [ ]:
print(x)

### 1.6.4 扩展

In [ ]:
x

In [ ]:
x.extend([4, 5])

In [ ]:
x

### 1.6.5Tuple

In [ ]:
emptyTuple = ()

In [ ]:
# init
z = (3, 7, 4, 2)

z = 3, 7, 4, 2

In [ ]:
# Initialize a tuple
z = (3, 7, 4, 2)

# Access the first item of a tuple at index 0
print(z[0])
# print last item in the tuple
print(z[-1])

In [ ]:
# Initialize a tuple
z = (3, 7, 4, 2)

# first index is inclusive (before the :) and last (after the :) is not.
print(z[0:2])

Tuple值不可以更新

In [ ]:
z = (3, 7, 4, 2)

z[1] = "fish"

In [ ]:
for item in ('lama', 'sheep', 'lama', 48):
    print(item)

#### Tuple 优势

In [ ]:
import timeit 
print('Tuple time: ', timeit.timeit('x=(1,2,3,4,5,6,7,8,9,10,11,12)', number=1000000))
print('List time: ', timeit.timeit('x=[1,2,3,4,5,6,7,8,9,10,11,12]', number=1000000))

In [ ]:
bigramsTupleDict = {('this', 'is'): 23,
                    ('is', 'a'): 12,
                    ('a', 'sentence'): 2}

print(bigramsTupleDict)

In [ ]:
# Lists can NOT be dictionary keys
bigramsListDict = {['this', 'is']: 23,
                   ['is', 'a']: 12,
                   ['a', 'sentence']: 2}

print(bigramsListDict)

In [ ]:
graphicDesigner = {('this', 'is'),
                   ('is', 'a'),
                   ('a', 'sentence')}
print(graphicDesigner)

In [ ]:
# Lists can NOT be values in a set
graphicDesigner = {['this', 'is'],
                   ['is', 'a'],
                   ['a', 'sentence']}
print(graphicDesigner)

## 1.7 字典

In [ ]:
webstersDict = {'person': 'a human being, whether an adult or child', 'marathon': 'a running race that is about 26 miles', 'resist': ' to remain strong against the force or effect of (something)', 'run': 'to move with haste; act quickly'}

In [ ]:
webstersDict

In [ ]:
# Accessing Values in a Dictionary
# dictionary[key]
webstersDict['marathon']

In [ ]:
# Updating Dictionary
# add one new key value pair to dictionary
webstersDict['shoe'] = 'an external covering for the human foot'

# return the value for the 'shoe' key
webstersDict['shoe']

In [ ]:

# update method, update or add more than key value pair at a time 
webstersDict.update({'shirt': 'a long- or short-sleeved garment for the upper part of the body'
                     , 'shoe': 'an external covering for the human foot, usually of leather and consisting of a more or less stiff or heavy sole and a lighter upper part ending a short distance above, at, or below the ankle.'})
webstersDict

In [ ]:
# Removing key from dictionary
del webstersDict['resist']
webstersDict

只有可以迭代的对象可以作为key, list就不可以

In [ ]:
webstersDict[['sock']] = "Wrong"

In [ ]:
storyCount = {'is': 100, 'the': 90, 'Michael': 12, 'runs': 5}

In [ ]:
# key error for keys that do not exist
storyCount['run']

In [ ]:
# if key doesnt exist, 
# specify default value for keys that dont exist. 
# returns value for key you enter if it is in dictionary
# else it returns the value you have for default
storyCount.get('Michael', 0)

In [ ]:
# When you dont set default value for key that doesnt exist, 
# it defaults to none
print(storyCount.get('run'))

In [ ]:
# Making default value for key that doesn't exist 0. 
print(storyCount.get('run', 0))

In [ ]:
count = storyCount.pop('the')
print(count)

### 1.7.1 迭代

In [ ]:
# return keys in dictionary
print(storyCount.keys())

# return values in dictionary
print(storyCount.values())

In [ ]:
# iterate through keys
for key in storyCount: 
    print(key)

In [ ]:
# iterate through keys and values
for key, value in webstersDict.items():
    print(key, value)

## 1.8 循环

In [ ]:
for number in [23, 41, 12, 16, 7]: 
    print(number)
print('Hi')

In [ ]:
friends = ['steve', 'rachel', 'michael', 'adam', 'monica']
for index, friend in enumerate(friends):
    print(index,friend)

In [ ]:
original_list = range(10)
list(original_list)

In [ ]:
odd_list = []
for number in original_list:
    if number % 2 == 0:
        continue
    odd_list.append(number)
odd_list

In [ ]:
for number in original_list:
    if number > 5:
        break
    print(number)

In [ ]:
count = 0
while count <= 5:
    print(count)
    count = count + 1

In [ ]:
count = 0
while count <= 5:
    if count == 2:
        break
    count += 1
    print(count)

## 1.8 函数

In [ ]:
def remove_duplicates(duplicate): 
    uniques = [] 
    for num in duplicate: 
        if num not in uniques: 
            uniques.append(num) 
    return(uniques)
      
duplicate = [2, 4, 10, 20, 5, 2, 20, 4] 
print(remove_duplicates(duplicate))

## 1.9 类

In [ ]:
type(0)

In [ ]:
class A:
    pass

In [ ]:
A

In [ ]:
cla = A()

cla

In [ ]:
class person:
    def __init__(self, pid, name, addr):
        self.pid = pid
        self.name = name
        self.addr = addr
        
    def get_name(self):
        return (self.name)

In [ ]:
p1 = person("00001", "zyt", "xxxxx")
p1.get_name()

In [ ]:
p1.name = "zyt2"
p1.get_name()

In [ ]:
class student(person):
    def __init__(self, pid, name, addr, school):
        super(student, self).__init__(pid, name, addr)
        self.school = school

In [ ]:
p2 = student("00002", "zyt3", "xxxxx", "USTC")
p2.get_name()

In [ ]:
class teacher(person):
    def __init__(self, pid, name, addr, school):
        super(teacher, self).__init__(pid, name, addr)
        self.school = school
    
    def get_name(self):
        return self.name, self.pid

In [ ]:
p3 = teacher("00003", "lm", "xxxxx", "USTC")
p3.get_name()